<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/e5781ec2-8c46-4590-aed5-9cb1b94667e6/v3/index.json" />
  </packageSources>
</configuration>